<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>


#show all
#link_to "Show" show_path
#link_to #Edit edit_path
#link_to #Create New new_path

#link_to delete hint: add method delete to link_to helper
